@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto.woff),
       url(../fonts/roboto.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/robotomedium.woff),
       url(../fonts/robotomedium.woff2);
  font-weight: 500;
  font-style: normal;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

.main-header {
  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.logo {
  float: left;
  line-height: 0;
  margin-top: 50px;
  margin-bottom: 85px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.main-navigation {
  float: left;
  font-size: 0px;
  margin-left: 200px;
}

.main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 75px;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.main-navigation a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
	color: #bdbdbd;
}

.user-block {
  float: right;
  text-align: right;
  margin-top: 77px;
}

.basket::before {
  content: "";
  display: inline-block;
  margin-right: 25px;
  width: 15px;
  height: 15px;

  background: transparent url(../img/cart-icon.png) no-repeat;
  opacity: 0.3;
}

.user-block a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.user-block a:hover {
	color: #fb565a;
}
.user-block a:active {
	color: #bdbdbd;
}


.slides {
  clear: both;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  width: 400px;
}

.slide {
  display: block;
  min-height: 431px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: 100%;
}

.slide-1 {
  background-image: url(../img/slider-1.jpg);
}

.slide-2 {
  background-image: url(../img/slider-2.jpg);
}

.slide-3 {
  background-image: url(../img/slider-3.jpg);
}

.slide-text {
  display: block;
  width: 400px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #fb565a;
  line-height: 18px;
  border-radius: 3px;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.slide-btn {
  padding: 19px 53px;
  margin-top: 15px;
}

/* Основная часть */
.services {
  font-size: 0;
  margin-bottom: 80px;
  margin-top: 80px;
}

.services-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-top: 26px;
}

.services-item p {
 margin: 0;
  margin-top: 10px;
}

.services-item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  font-size: 16px;
  margin-left: 100px;
}

.services-item:first-child {
  margin-left: 0;
}


.services-btn1 {
  margin-top: 30px;
  padding: 19px 39px;
}

.services-btn2 {
  margin-top: 30px;
  padding: 19px 39px;
  background-color: #00ca74;
}

.services-btn2:hover {
  background-color: #00bc6c;
}

.services-btn2:active {
  background-color: #00aa62;
}

.services-btn3 {
  margin-top: 30px;
  padding: 19px 39px;
  background-color: #efc84a;
}

.services-btn3:hover {
  background-color: #eab534;
}

.services-btn3:active {
  background-color: #e5a722;
}

.features {
  float: left;
  width: 680px;
}

.features h2 {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
}

.features p {
  margin: 45px 0;
}

.features-title {
  text-transform: uppercase;
  margin: 0;
}

.features-list {
  list-style: none;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  margin-bottom: 76px;
}

.features-list li {
  margin-top: 32px;
}

.features-list li::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 3px;
  width: 25px;
  border-top: 2px solid #fb565a;
}

.index {
  float: right;
  width: 360px;
}

.index img {
  margin-bottom: 28px;
}

.index h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.index ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0px;
  line-height: 0px;
}

.index li {
  display: inline-block;
  width: 120px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 50px;
}

.index b {
  font-size: 45px;
  line-height: 10.06px;
}

sup {
  top: -11.75px;
}

.copyrights {
  clear: both;
  font-size: 0;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.copyrights a {
  display: inline-block;
  vertical-align: middle;
  width: 290px;
  height: 180px;
  opacity: 0.2;
}

.copyrights a:hover {
  opacity: 1;
}

.copyrights a:active {
  opacity: 0.1;
}

.htmlacademy {
  background: url(../img/logo-1.png) no-repeat center;
}

.borodinski {
  background: url(../img/logo-2.png) no-repeat center;
}

.pink {
  background: url(../img/logo-3.png) no-repeat center;
}

.mishka {
  background: url(../img/logo-4.png) no-repeat center;
}

.contact {
  float: left;
  vertical-align: top;
  width: 270px;
  height: 268px;
  background: white;
  padding-top: 44px;
  padding-left: 50px;
  margin-top: 55px;
}

.contact h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

.contact p {
  font-size: 16px;
  line-height: 18px;
}

.contact-btn {
  margin-top: 40px;
  padding: 18px 45px;
}

.map {
  background: url(../img/map-marker.jpg) no-repeat 50% 41%;
  width: 100%;
  height: 420px;
  margin-top: 82px;
}

.main-footer {
  clear: both;
  padding-top: 76px;
  padding-bottom: 68px;
}

.footer-social {
  float: left;
  font-size: 0px;
  line-height: 0px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50px;
  margin-right: 12px;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
}

.social-btn-vk {
  background-image: url(../img/vk-icon.png);
}

.social-btn-fb {
  background-image: url(../img/fb-icon.png);
}

.social-btn-inst {
  background-image: url(../img/insta-icon.png);
}

.footer-logo {
  float: right;
  width: 760px;
  text-align: left;
}

.footer-title {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}

.footer-logo p {
  font-size: 16px;
  line-height: 22px;
}

/*Страница каталога */

.main-title {
  clear: both;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 115px;
  margin-bottom: 60px;
}

.slider {
  width: 260px;
  height: 80px;
  background-color: #eeeeee;
  border-radius: 1px;
  position: relative;
  margin-bottom: 14px;
}

.line {
  width: 220px;
  height: 2px;
  position: absolute;
  top: 39px;
  left: 20px;
  background-color: #00ca74;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffffff;
  top: 30px;
  left: 18px;
}
.dot::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background-color: red;
  top: 9px;
  left: 9px;
}

.left-side {
  float: left;
  width: 260px;
}

.left-side h4,
.catalog h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.min-price,
.max-price {
  width: 80px;
  padding: 8px 10px;
  margin-left: 6px;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  text-align: center;
  color: #283136;
  border-radius: 5px;
}


.radio-input input {
  display: none;
}
.radio-input label {
  position: relative;
}
.radio-input label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 4px solid #b8b8b8;
  border-radius: 50%;
  margin-right: 10px;
}
/*
.radio-input label:hover::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #b8b8b8;
  position: absolute;
  top: 2px;
  left: 5px;
}
.radio-input input:checked + .radio-input label::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #b8b8b8;
  position: absolute;
  top: 2px;
  left: 10px;
}
*/

.btn-submit {
  padding: 16px 88px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  background: #eeeeee;
}

.btn-submit:hover {
  background: #dfdfdf;
}

.btn-submit:active {
  background: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog {
  float: right;
  width: 760px;
}

.sort-title {
  margin-bottom: 58px;
}

.sort-title h4 {
  float: left;
}

.sort-list {
  float: left;
  font-size: 0;
  width: 300px;
  margin-left: 400px;
  margin-top: -25px;
}

.sort-list a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  margin-right: 25px;
}

.sort-list a:first-child {
  color: rgba(0, 0, 0, 1);
}

.sort-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-list a:last-child {
  margin-right: 0;
}

.pointer {
  float: right;
  width: 40px;
  margin-top: -25px;
}

.sort-down {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-image: url(../img/sort-down.png);
}

.sort-up {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-image: url(../img/sort-up%20.png);
  opacity: 0.2;
  margin-left: 17px;
}

.sort-up:hover,
.sort-down:hover {
  opacity: 0.4;
}

.sort-up:active,
.sort-down:active {
  opacity: 1;
}

.catalog-items {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.catalog-items img {
  position: relative;
  padding-top: 40px;
  margin-bottom: 36px;
  background-image: url(../img/browser.png);
}

.catalog-items img:hover {
  background-image: url(../img/browser.png%20copy.png);
}

.catalog-items img:nth-child(2n) {
  margin-left: 40px;
}

.info {
  display: none;
  width: 360px;
  background-color: #eeeeee;
  text-align: center;
  position: absolute;
  top: 878px;
  left: 465px;
}

.catalog-items img:hover .info {
  display: block;
}

.info h4 {
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
}

.info p {
  line-height: 18px;
  width: 200px;
  margin: 25px auto;
}

.info a {
  line-height: 18px;
  padding: 16px 60px;
  border-radius: 3px;
  margin-bottom: 30px;
}

/*страницы*/

.pages {
  clear: both;
  padding-bottom: 5px;
  margin-bottom: 75px;
}

.page {
  display: inline-block;
  vertical-align: top;
  padding: 16px 20px;
  margin-right: 11px;
  margin-top: 60px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  color: black;
  background: #eeeeee;
}

.pages .page-active {
  background-color: #ffffff;
}

.page:hover {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.page:active {
  background-color: #d5d5d5;
  border: 3px solid #d5d5d5;
}
